h1 {
    background-color: #ff5c5b;
}

#principal {
    width: 90%;
    max-width: 600px;
    min-width: 300px;
    
    margin: auto;
    padding: 20px 0px;
}

fieldset {
    border: none;
}

legend {
    background-color: #ffcd64;
    padding: 8px 5px;
    
    margin-top: 15px;
    font-weight: bold;
    
    width: 100%;
}

.btn {
    border: none;
    background: none;
    cursor: pointer;
    background-color: #ff5c5b;
    color: white;
    padding: 4px 12px;
    text-align: center;
    border-radius: 20px;
    margin: 5px 10px;
}

input[type="radio"] + label::before {
    content: "AAAAA";
    border: solid 1px red;
    color: blue;
}

table {
    width: 50%;
    border-collapse: collapse;
    
    margin: 10px auto;
    text-align: center;
}

caption {
    padding: 5px;
    color: #6251bb;
    font-weight: bold;
}

thead {
    border-left: solid 1px #39b9e8;
    text-transform: uppercase;
    background-color: #39b9e8;
}

thead td {
    padding: 15px;
}

tbody {
    border: solid 1px #6251bb;
    border-top: solid 2px #6251bb;
    border-bottom: solid 2px #6251bb;
}

tbody tr {
    border-top: solid 1px #6251bb;
}

tbody tr:nth-child(odd) {
    background-color: #d6f2fe;
}

tbody tr:nth-child(even) {
    background-color: #eeeeee;
}

tbody td:first-child {
    border-right: solid 2px #6251bb;
}

tbody td[rowspan] {
    border-left: solid 1px #6251bb;
}

tfoot {
    background-color: #d1d1d1;
    border: solid 1px #6251bb;
    text-align: right;
    font-style: italic;
    font-size: 0.7em;
}

td {
    padding: 5px;
}

