h1 {
    background-color: #ff7d46;
    color: #fff;
}

h2 {
    text-align: center;
}

p {
    padding: 10px;
}

#principal {
    color: #3d0aa3;
    background-color: #e89dca;
}

.formulario {
    width: 90%;
    max-width: 600px;
    min-width: 300px;
    
    margin: auto;
    padding: 20px 0px;
}

.horarios {
    background-color: #e8c97b;
    padding: 10px;
    color: #3d0aa3;
}

fieldset {
    border: none;
}

legend {
    background-color: #3d0aa3;
    padding: 8px 5px;
    margin-top: 15px;
    font-weight: bold;
    width: 100%;
    color: white;
    text-align: center;
    border-radius: 20px;
}

.botones {
    text-align: center;
}

.btn {
    border: none;
    background: none;
    cursor: pointer;
    background-color: #ff7d46;
    color: #fff;
    padding: 4px 12px;
    text-align: center;
    border-radius: 20px;
    margin: 5px 10px;
    width: 80px;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: 10px auto;
    text-align: center;
}

thead {
    border: solid 1px #fff;
    text-transform: uppercase;
    background-color: #ff7d46;
    color: #fff;
}

thead td {
    padding: 15px;
}

tbody {
    border: solid 1px #fff;
}

tbody td {
    border: solid 1px #fff;
}

tbody tr:nth-child(odd) {
    background-color: #e89dca;
}

tbody tr:nth-child(even) {
    background-color: #e8c97b;
}

tfoot {
    background-color: #eeeeee;
    border: solid 1px #fff;
    text-align: right;
    font-style: italic;
    font-size: 0.7em;
}

td {
    padding: 5px;
}

#mensaje {
    resize: none;
    width: 100%;
    height: 150px;
    
}

label[for="mensaje"] {
    display: inline-block;
    float: left;
}

