#principal {
    background: #ff7d47;
    text-align: center;
    color: #fff;
    margin: auto;
}

#principal::after {
    content: "";
    display: block;
    clear: both;
}

h1 {
    background: #e89dca;
    color: #3d0aa3;
}

h2 {
    color: #fff;
    text-align: center;
}

p {
    padding: 10px;
}

.ordinario,
.extraordinario {
    float: left;
    width: 48%;
}

.ordinario img,
.extraordinario img{
    width: 400px;
    height: 400px;
}

.extraordinario:hover {
    color: #3d0aa3;
    border: solid 1px #3d0aa3;
}

