#principal {
    
    text-align: center;
    color: #000;
    margin: auto;
}

.img-principal {
    
    height: 600px;
    background-attachment:fixed;
    background-repeat:no-repeat;
    
    background-image:url(../img/img-principal.jpg);
    background-size:100% 100%;
        
}

#principal::after {
    content: "";
    display: block;
    clear: both;
}

h1 {
    background: #e89dca;
    color: #3d0aa3;
}

h2 {
    color: #aaa;
    text-align: center;
    
}

p {
    padding: 10px;
}

.contenido-1 {
    position: relative;
    padding-bottom: 30px;
}

.contenido-1 h2 {
    padding: 20px;
}

.contenido-1 img{
    border-radius: 25px;
    margin-right: 1%;
    float: right;
}

.contenido-2::after {
    content: "";
    display: block;
    clear: both;
}

.texto-contenido {
    display: inline-block;
    width: 45%;
    text-align: left;
}

.contenido-1::after {
    content: "";
    display: block;
    clear: both;
}

.texto-contenido {
    position: absolute;
    top: 40%;
    right: 50%;
    width: 45%;
    font-size: 1.5em;
}

em {
    color: #3d0aa3;
}

.ordinario {
    height: 600px;
    background-attachment:fixed;
    background-repeat:no-repeat;
    
    background-image:url(../img/estambres.jpg);
    background-size:100% 100%;
}

.ordinario::after {
    content: "";
    display: block;
    clear: both;
}

.extraordinario {
    height: 800px;
    background-attachment:fixed;
    background-repeat:no-repeat;
    
    background-image:url(../img/productos.jpg);
    background-size:100% 100%;
}

.extraordinario::after {
    content: "";
    display: block;
    clear: both;
}

.ordinario h1{
    background: #aaa;
    color: #fff;
}

.catalogo h1{
    background: #3d0aa3;
    color: #fff;
}

.owl-theme .owl-dots .owl-dot.active span{
    width:20px;
    height:20px;
    background-color:#102fc5;
    border:2px solid #fff;}
.owl-theme .owl-dots .owl-dot span{
    width:20px;height:20px;border:2px solid #fff;}

.item{
    width:450px;
    height:500px;
    margin:0 auto;
}

.item img {
    padding: 2%;
    border-radius:25px;
}

.owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}

.catalogo h2{
    margin: 2%;
    background-color:rgba(0, 0, 0, 0.1);
    border-radius:25px;
    color: #102fc5;
}





