#principal {
    
    text-align: center;
    color: #000;
    margin: auto;
}

.img-principal {
    background-color: #e89dca;
    
}

.img-principal img{
    width: 100%;
    height: 480px;
}

#principal::after {
    content: "";
    display: block;
    clear: both;
}

h1 {
    background: #e89dca;
    color: #3d0aa3;
}

h2 {
    color: #aaa;
    text-align: center;
    
}

p {
    padding: 10px;
}

.contenido-1 {
    position: relative;
    padding-bottom: 30px;
}

.contenido-1 h2 {
    padding: 20px;
}

.contenido-1 img{
    float: right;
}

.texto-contenido {
    display: inline-block;
    width: 45%;
    text-align: left;
}

.contenido-1::after {
    content: "";
    display: block;
    clear: both;
}

.texto-contenido {
    position: absolute;
    top: 40%;
    right: 50%;
    width: 45%;
    font-size: 1.5em;
}

.extraordinario {
    background: #3d0aa3;
}

.ordinario,
.extraordinario {
    float: left;
    width: 50%;
}

.ordinario img,
.extraordinario img{
    width: 400px;
    height: 400px;
}

.ordinario h1{
    background: #aaa;
    color: #fff;
}

