h1 {
    text-align: center;
    line-height: 52px;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style-type: none;
}

footer {
    background-color: #e8c97b;
    color: white;
}

footer h2 {
    margin-top: 0;
    background-color: #e8c97b;
    color: white;
    padding-top: 1%;
}

.nav-header {
    padding: 0;
}

.navbar {
    background-image: url('../img/estambres-header.png');
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 0;
    border-bottom: 2px solid #102fc5;
}

.navbar-brand img {
    margin-top: -10px;
    margin-left: 5px;
    height: 40px;
    display: inline-block;
    
}

.navbar-toggle {
    margin-right: 20px;
}


.navbar-default .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-toggle:hover,
.navbar-default .navbar-nav > li > a:focus{
    background: rgba(0,0,0, .5);
}

.navbar-default .navbar-nav > li > a:hover {
    background: rgba(0,0,0, .5);
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
    background: rgba(0,0,0, .5);
}

/*.navbar-default .navbar-toggle:focus {
    background: rgba(0,0,0, .5);
}*/

.navbar-header, #myNavbar {
    background: rgba(0,0,0, .2);
}

div.navbar-header {
    border-radius: 0 10px 10px 0;
}

.navbar ul{
    padding: 0 2%;
    text-align: right;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover {
    color: #102fc5;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
}

.menu {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3d0aa3;
    
}

.menu li {
    float: left;
    border-right: 1px solid #000;
    
}

.menu a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

.menu a:hover {
    background-color: #ff7d46;
}

a.nav-contacto::before {
    background-color: #ff7d46;
}

footer::after {
    content: "";
    display: block;
    clear: both;
}

.social {
    display: inline-block;
    width: 67px;
    height: 66px;
    text-indent: -200px;
    overflow: hidden;
}

.social.facebook {
    background-image: url('../img/ico_fb.png');
}

.social.twitter {
    background-image: url('../img/ico_tw.png');
}

.redes li {
    display: inline-block;
}

.redes {
    text-align: center;
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}