* {
    margin: 0px;
    padding: 0px;
    font-family: "sans serif";
}

body {
    border-top: solid 5px #839413;
}

h1 {
    text-align: center;
    line-height: 80px;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    font-weight: bold;
    font-size: 1.1em;
}

ul {
    list-style-type: none;
}

#pie {
    background-color: #e8c97b;
    color: white;
}

#pie h2 {
    background-color: #e8c97b;
    color: white;
}

.encabezado {
    background-color: #efefef;
}

.menu {
    background-color: #e8c97b;
    text-align: right;
    padding: 8px 0px;
}

.menu li {
    display: inline-block;
    margin-left: 5px;
}

.menu a {
    color: #3d0aa3;
    display: inline-block;
}

.menu a::before {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #3d0aa3;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 3px;
    box-shadow: 0 0 0px 2px #fff;
}

a.nav-contacto::before {
    background-color: #ff7d46;
}

#pie::after {
    content: "";
    display: block;
    clear: both;
}

.social {
    display: inline-block;
    width: 67px;
    height: 66px;
    text-indent: -200px;
    overflow: hidden;
}

.social.facebook {
    background-image: url('../img/ico_fb.png');
}

.social.twitter {
    background-image: url('../img/ico_tw.png');
}

.redes li {
    display: inline-block;
}

.redes {
    text-align: center;
}


