* {
    margin: 0px;
    padding: 0px;
    font-family: "sans serif";
}

body {
    border-top: solid 5px #ff7d46;
}

h1 {
    text-align: center;
    line-height: 80px;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style-type: none;
}

#pie {
    background-color: #e8c97b;
    color: white;
}

#pie h2 {
    background-color: #e8c97b;
    color: white;
}

#encabezado {
    background-color: #fff;
    height: 80px;
    background-image: url('../img/estambres-header.jpg');
    background-repeat: no-repeat;
    background-position: right;
}

#encabezado a {
    margin-left: 10px;
}

#encabezado img{
    height: 80%
}

.menu {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3d0aa3;
    
   
    
}

.menu li {
    float: left;
    border-right: 1px solid #000;
    
}

.menu a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

.menu a:hover {
    background-color: #ff7d46;
}

a.nav-contacto::before {
    background-color: #ff7d46;
}

#pie::after {
    content: "";
    display: block;
    clear: both;
}

.social {
    display: inline-block;
    width: 67px;
    height: 66px;
    text-indent: -200px;
    overflow: hidden;
}

.social.facebook {
    background-image: url('../img/ico_fb.png');
}

.social.twitter {
    background-image: url('../img/ico_tw.png');
}

.redes li {
    display: inline-block;
}

.redes {
    text-align: center;
}


